body
    {
        background-color:white ;
        background-image: url("https://tse2.mm.bing.net/th?id=OIP.27ISkDX4PEka8gC7WOJXzAAAAA&pid=Api&P=0&h=220");
        
    }
    a{
        color:black;
    }